<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titanic Risk Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <h1 class="appname textclr">Titanic Survivability Rate</h1>

  <main class="login">
    <form id="predictForm">
        
        <p class="question textclr">What is your passenger class?</p>
        <label class="textclr"><input class="radio-input" type="radio" name="Pclass" value="1" required>1</label>
        <label class="textclr"><input class="radio-input" type="radio" name="Pclass" value="2">2</label>
        <label class="textclr"><input class="radio-input" type="radio" name="Pclass" value="3">3</label><br>

        <p class="question textclr">What is your gender?</p>
        <label class="textclr"><input class="radio-input" type="radio" name="Sex" value="male" required>Male</label>
        <label class="textclr"><input class="radio-input" type="radio" name="Sex" value="female">Female</label><br>

        <p class="question textclr">What is your age?</p>
        <input class="age-input" type="number" name="Age" placeholder="Enter your age" step="1" min="0" required><br>

        <p class="question textclr">How many siblings or spouses aboard?</p>
        <input class="age-input" type="number" name="sibsp" placeholder="Enter number" step="1" min="0" required><br>

        <p class="question textclr">How many parents or children do you have aboard?</p>
        <input class="age-input" type="number" name="parch" placeholder="Enter number" step="1" min="0" required><br>

        <p class="question textclr">What was your fare?</p>
        <input class="age-input" type="number" name="Fare" placeholder="Enter fare amount" step="0.01" min="0" required><br>

        <button type="submit" class="btn-submit">Will You Survive?</button>
        
    </form>
  </main>
<div id="popup" class="popup-box">
  <div class="popup-content">
    <span class="close-btn" onclick="closePopup()">&times;</span>
    <h2>Prediction Result</h2>
    <p id="popup-result-text"></p>
  </div>
</div>
  <script>
  const form = document.getElementById('predictForm');

  form.addEventListener('submit', async function (e) {
    e.preventDefault(); // prevent regular form submission

    const formData = new FormData(form);

    const response = await fetch("{{ url_for('predict') }}", {
      method: "POST",
      body: formData
    });

    const data = await response.json();  // expecting JSON back
    document.getElementById("popup-result-text").innerText = data.prediction;
    openPopup();
  });

  function openPopup() {
    document.getElementById("popup").style.display = "flex";
  }

  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>

</body>
</html>
